/*
 * Mixins
 */


// mixin for automatically including focus styles with hover
@mixin hocus {
	&:hover,
	&:focus {
		@content;
	}
}

// mixin for easier media queries
@mixin breakpoint($viewport) {
	// extra large
	@if $viewport == xl {
		@media (min-width: $breakpoint-xl) { 				
			@content; 
		}
	}

	// large
	@if $viewport == lg {
		@media (min-width: $breakpoint-lg) { 				
			@content; 
		}
	}
	// medium
	@else if $viewport == md {
		@media (min-width: $breakpoint-md) { 
			@content; 
		}
	}
	// small
	@else if $viewport == sm {
		@media (min-width: $breakpoint-sm)  {
			@content; 
		}
	}
}
// usage:  @include breakpoint(lg) { color: hotpink; }