html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
	background: $bg-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-size: $base-font-size;
	color: $text-color;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern" on;

	@include breakpoint(sm) { 
		background-color: mistyrose; 
	}

	@include breakpoint(md) { 
		background-color: lavender; 
	}

	@include breakpoint(lg) { 
		background-color: wheat; 
	}

	@include breakpoint(xl) { 
		background-color: azure; 
	}
}

// images
img {
	max-width: 100%;
	height: auto;
}

// punishment for empty links
a[href="#"] {
	cursor: not-allowed;
}

// list resets
li {
	> ul,
	> ol {
		margin-top: 0;
		margin-bottom: 0;
	}
}

nav {
	ol, 
	ul {
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
	}
}