/* 
 * Variables
 */

// color palette
$white: 			#fff;
$blue:				#2980b9;
$gray-dark:			#222;

// color usage
$bg-color:			$white;
$brand-color:		$blue;
$text-color:		$gray-dark;

// font properties
$font-sans-serif:	Helvetica, Arial, sans-serif;
$font-serif: 		Times, Georgia;
$base-font-family: 	$font-sans-serif;
$base-font-size:   	1em;
$base-line-height: 	1.65;

// magic numbers
$gutter-sm: 		1rem;
$gutter-md: 		2rem;
$gutter-lg: 		4rem;
$gutter-xl: 		6rem;

// breakpoints
$breakpoint-sm:		30em;
$breakpoint-md:		48em;
$breakpoint-lg:		68em;
$breakpoint-xl:		80em;